<h1>Welcome to the Dealership!</h1>
<h2>Car Catalog</h2>
<% @cars.each do |car|%>
<h4 class="Car"><%=car.make%> <%=car.model%></h4>
<img class= "Image"src= <%=car.image%>>
<p class="Price">Price: <%=car.price%></p>

<%end%>